a {
	text-decoration: none;
}

.takePhotoButton {
}

.photoBlock {
	margin: 0 auto;
	width: 90%;
	height: 200px;
}

.photo {
	/*display: none;*/
	width: 100%;
	height: 100%;
}

.accordion {
	margin: 0 15px;
}

.nextButton {
	width: 48%;
	float: right;
}

.backButton {
	width: 48%;
	float: left;
}

.commentBlock {
}