a {
	text-decoration: none;
	color: inherit;
}

.takePhotoButton {
}

.photoBlock {
	margin: 0 auto;
	width: 90%;
}

.photo {
	/*display: none;*/
	max-width: 100%;
}

.accordion {
	margin: 0 15px;
}

.nextButton {
	width: 48%;
	float: right;
}

.backButton {
	width: 48%;
	float: left;
}

.commentBlock {
}

.center {
	text-align: center;
}

.infoMessage {
	text-align: center;
}

.errorMessage {
	text-align: center;
	color: #f00;
}

#mapBlock {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 300px;
}

.slidingMenu {
	position: absolute;
	bottom: 0;
	display: none;
	z-index: 1000;
	background: rgba(30, 30, 30, 0.9);
	width: 250px;
}

	.slidingMenu .option {
		height: 70px;
		border-bottom: 1px solid #bbb;
		color: #fff;
		font-size: 15pt;
		padding: 35px 0 0 30px;
	}